//
// Gloria Allelujah Regular / Normal
// ------------------------------------------------------

@font-face {
  font-family: 'Gloria Allelujah';
  src: local('Gloria Allelujah Regular'),
       local('Gloria-Allelujah-Regular'),
       url('#{$gloria-allelujah-font-path}/GloriaHallelujah.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
